In [1]:
"""
Some of the simple examples of tuples in python
"""

example_tuple_1 = (12345, 54321, 'hello!')
example_tuple_1[0]

12345

In [3]:
example_tuple_1

(12345, 54321, 'hello!')

In [4]:
example_tuple_2 = (example_tuple_1, (1, 2, 3, 4, 5))
example_tuple_2

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [7]:
example_tuple_3 = ([1, 2, 3], [3, 2, 1])
example_tuple_3

([1, 2, 3], [3, 2, 1])

In [8]:
empty_tuple = ()
type(empty_tuple)

tuple

In [9]:
len(empty_tuple)

0

In [11]:
singleton_tuple = ('hello',)
type(singleton_tuple)

tuple

In [12]:
len(singleton_tuple)

1

In [13]:
example_tuple_1

(12345, 54321, 'hello!')

In [14]:
# this is a very simple way of opening a tuple into various variables:
first_num, second_num, third_str = example_tuple_1
print(first_num)
print(second_num)
print(third_str)

12345
54321
hello!